@media (max-width:768px) {
    *{
        overflow-x: hidden;
    }
    .page1-navbar{
        
        width: 100vw;
    }
    .menu{
        font-size: 0.5vw;
    }
    .page1-navbar{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        position: fixed;
        top: 0;
        background-color: #fff;
        width: 100vw;
        z-index: 99;
    }
    .page2{
        height: 60vh;
        width: 100%;
        /* background-color: black; */
        display: flex;
        justify-content: center;
        padding-bottom: 3%;
        border-bottom: 1px solid;
    }
    .page3  span{
        /* font-weight: 500;
        letter-spacing: 2px;
        position: absolute; */
        font-size: 3vw;
    }
    
}
@media (max-width:576px) {
    .logo h1{
        font-size: 2vw;
        font-weight: 900;
        text-wrap: nowrap;
        transition: cubic-bezier(.25,.12,.92,.11);
        overflow-x: visible;
        margin-top: 5%;
    }
}
