*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    
    height: 100%;
    width: 100%;
    
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
  
}   
/* width */
::-webkit-scrollbar {
    width: 8px;
    /* height: 10px; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(8, 196, 8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(8, 196, 8);
  }
#page1{
    height: 100vh;
    width: 100vw;
    background-image: url("image/background.jpg");
    background-position: center;
    background-size: cover;
    scroll-behavior: smooth;
    scrollbar-color: rgb(8, 196, 8);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height:8vh;
    width: 100vw;
    background-color: #fff;
}
#navbar{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    /* background-color: aqua; */
    padding: 10px;
}

.list{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#navbar :hover{
    color: rgb(8, 196, 8);
    text-decoration: underline;
    transition-duration: 0.5s;
    cursor: pointer;
}

#main{
    min-height: 50vh;
    width: 40vw;
    margin-top: 20vh;
    margin-left: 5vw;
    /* background-color: #fff; */
    overflow-y: hidden;
}
#upper{
    overflow: hidden;
}
#main>#upper>h6{
    color: rgb(218, 215, 215);
}

.text{
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-size: 30px;
font-weight: 1500;
color: #fff;
line-height: 35px;
letter-spacing: 5px;
margin-top: 10px;

}
#text1{
    font-family: 'Kanit', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: rgb(8, 196, 8);
}
#main>#upper>p{
    color: rgb(218, 215, 215);
    margin: 15px 0px;
}
#search{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 30px;
    height: 5vh;
    width: 32vw;
    border-radius: 2px;
}
#button{
    height: 100%;
    width: 20%;
    background-color: rgb(8, 196, 8);
    border: none;
    border-radius: none;
    color: whitesmoke;
}
#button :hover{
    cursor: pointer;
}
#logo{
    display: flex;
    height: 100%;
    width: 20%;
    justify-content: center;
    align-items: center;
    
    /* background-color: black; */
    /* color: #fff; */
}

#button:hover{
    color: black;
    transition-duration: 0.5s;
}
#logo>img{
    height: 15px;
}
#logo>h5{
    color: #807f7f;
}
.logo-item{
    padding: 0px 5px;
}

#page2{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(12, 12, 12);
    overflow:auto;
    
}



.secondpage-img{
    height: 350px;
    width: 380px;
    position: absolute;
    margin-top: 55px;
    /* letter-spacing: 20px; */
    border:2px solid rgb(12, 12, 12);
    border-radius: 50px;  
}
.claim>h4 :hover{
    font-size: 30;
    transition-duration: 0.5;
}

.claim{
    height: 100%;
    width: 100%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    /* background-color: #807f7f; */
    height: 70vh;   
}

.claim>h4{
    position: relative;
    padding-top: 80px;
    color: #f0ebebd0;
    font-size: 20px;
    
}

.claim>img:hover{
    height: 400px;
    width: 400px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    /* transform: scale(1); */
}
#image3{
    display: flex;
    /* position: absolute; */
    min-height: 70vh;
    width: 100vw;
    background-color: rgb(12, 12, 12);
    justify-content: space-between;

}
#image3>img{
    height: 350px;
    width: 43vw;
    margin-top: 10px;
    margin-right: 29px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 40px;
}

#image2-text2{
    /* display: flex; */
    position: relative;
    padding: 20px;
    height: 350px;
    width: 47vw;
    margin-top: 10px;
    margin-left: 29px;
    color: whitesmoke;
    /* background-color: #807f7f; */
}
#image2-text2>h1{
    width: 100vw;
    height: 40px;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Poppins', sans-serif;
    /* background-color: #807f7f; */
}
#image2-text2>h5{
    margin: 0;padding: 0;
    /* background-color: #f1f1f1; */
}
#image2-text2>p{
    margin-top: 10px;
}
#view{
    height: 20px;
    width: 100vw;
    background-color: rgb(12, 12, 12);
    color: whitesmoke;
    font-size: 20px;
    overflow: visible;
}
#page3-img{
    display: flex;
    padding-top: 4%;
    background-color: rgb(12, 12, 12);
    justify-content: space-between;
}
.ing{
    height: 450px;
    border: 2px solid rgb(12, 12, 12);
    border-radius: 40px;
    cursor: pointer;
}

#img1{
    margin-left: 10%;
}
#img2{
    margin-right: 10%;
}
#name{
    display: flex;
    justify-content: space-between;
    MIN-height: 20px;
    width: 100vw;
    padding: 1% 0%;
    color: whitesmoke;
    background-color: rgb(12, 12, 12);
}
#name1{
    margin-left: 25%;
}
#name2{
    margin-right: 25%;
    color: whitesmoke;
}
.button6{
    display: flex;
    justify-content: space-between;
    background-color: rgb(12, 12, 12);
    width: 100vw;
}
.button6>button{
    height: 24px;
    width: 80px;
    border: none;
    border-radius: 20px;
    /* margin-top: 1%; */
    margin-bottom: 1%;
    background-color: rgb(8, 196, 8);
    color: #373636;
    font-size: 10px;
}
.button6>button:hover{
    background-color: whitesmoke;
    color: rgb(8, 196, 8);
    transition-duration: 0.5s;

}
#button1{
    margin-left:23%;
}
#button2{
    margin-right: 23.5%;
}

#page4{
    display: flex;
    justify-content: center;
    min-height: 90vh;
    width: 100vw;
    background-color: rgb(12, 12, 12);
}
#page4img{
    display: flex;
    align-items: end;
    background-image: url(image/banner.jpg);
    background-size: cover;
    background-position: center;
    border: rgb(12, 12, 12);
    border-radius: 30px;
    margin: 2% 0%;
    min-height: 85vh;
    min-width: 80vw;
    
}

#page4text{
    height: 45vh;
    width: 35vw;
    margin-bottom: 4%;
    margin-left: 3%;
    padding: 2%;
    color: whitesmoke;
    /* background-color: #f1f1f1; */
}
#page4text>h2{
    margin-top: 2%;
}
#page4text>p{
    margin: 3% 0%;
    color: rgb(214, 214, 214);
    font-size: 10px;
}
#button3{
    background-color: rgb(8, 196, 8);
    border: none;
    height: 25px;
    width: 90px;
    border-radius: 20px;
    font-size: 10px;
}
#button3:hover{
    background-color: whitesmoke;
    color: rgb(8, 196, 8);
    transition-duration: 0.5s;
}
#end{
    display: flex;
    height: 90vh;width: 100vw;
    /* overflow: visible; */
    background-color: rgb(12, 12, 12);
}
#footerimg{
    background-image: url(image/subscribe.jpg);
    background-size: cover;
    border-radius: 40px;
    height: 50%;
    width: 45%;
    margin-left: 4%;
    margin-top: 170px;  
}
#sub{
    height: 50%;
    width: 45%;
    margin-top: 170px;
    margin-left: 4%;
    /* background-color: #373636; */
    color: whitesmoke;
}
#sub>center>input{
    height: 20px;
    width: 180px;
    background-color: rgb(12, 12, 12);
    border: none;
    color:#373636 ;
    font-size: 10px;
    cursor: pointer;
}

#sub>center>button{
    height: 20px;
    width: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgb(8, 196, 8);
    font-size: 10px;
    cursor: pointer;
}
#sub>center>button:hover{
    color: rgb(8, 196, 8);
    font-weight: 200;
    background-color: whitesmoke;
    transition-duration: 0.5s;
}
#inner{
    display: flex;
    /* background-color: #fff; */
    height: 50%;
    width: 100%;
    margin-top: 3%; 
}
.in{
    /* background-color: #373636; */
    height: 100%;
    width: 50%;
    padding: 2%;
}
#inin1>h6{
    margin-top: 5%;
    font-size: 10px;
    color: #807f7f;
}
#inin2>img{
    height: 20px;
    margin-top: 8%;
    margin-left: 0px;
    padding: 0px 3px;
}
#inin2>h3{
    letter-spacing: 2px;
}