@media (max-width:577px) {
    nav{
        height: 50px;
    }
    .nav-1{
        width: 30%;
    }
    .nav-2{
        display: none;
    }
    .nav-3{
        display: none;
    }
    .nav-4{
        display: flex;
    }
    .nav-4 h4:nth-child(1){
        display: none;
    }
    .nav-4 h4:nth-child(2){
        display: block;
        padding: 8px;
    }
    .page2-div{
        height: 30%;
        
    }
    .page2-div button{
        height: 5%;
        width: 20%;
        border-radius: 50px;
        border: none;
        background-color: #ececec;
        font-size: 1.1vw;
        text-transform: uppercase;
        transition: 0.4s;
        cursor: pointer;
    }
}
@media (max-width:993px) {
    .nav-3 h4{
        height: 70%;
        padding: 10px;
        font-size: 1.3vw;
    }
    .nav-4 h4{
        height: 50%;
        padding: 10px;
    }
    .nav-2 h4{
        display: none;
    }
    .nav-4{
        display: none;
    }
}